{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/staticfiles/assets/croissant-CxSaci5r.ico" />
    <title>Panimick Bakery</title>
    <script type="module" crossorigin src="/staticfiles/assets/index-CrD5_pZ9.js"></script>
    <link rel="stylesheet" crossorigin href="/staticfiles/assets/index-CIpum8qC.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
